$width: 1200px;
$gap: 24px;

.wrapper {
  max-width: $width;

  .text {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    line-height: 36px;
    &::after {
      content: attr(data-count);
      display: block;
      position: absolute;
      right: -24px;
      top: 0;
      transform: translate(100%, 0);
      color: rgba(81, 133, 129);

      font-size: 20px;
    }
  }

  .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    .listItems {
      width: calc(34% - $gap);
    }
  }
}

@media (max-width: 650px) {
  .wrapper .list .listItems {
    width: calc(51.7% - $gap);
  }
}
