@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
* {
  box-sizing: border-box;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  padding: 5rem 12px;
  max-width: 1240px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}

@media (max-width: 852px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 852px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 758px) {
  html,
  body {
    font-size: 12px;
  }
}
@media (max-width: 758px) {
  html,
  body {
    font-size: 10px;
  }
}
