.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 70px;
  max-width: 1240px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  column-gap: 48px;
  margin-bottom: 48px;
  .wrapperGallery {
    max-width: 600px;
  }
}
.wrappBack {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover span {
    text-decoration: underline;
  }
  span {
    font-size: 20px;
  }
}
.content {
  .nameProduct {
    color: rgba(0, 0, 0);
    font-weight: 700;
    font-size: 44px;
    margin: 0;
    margin-bottom: 24px;
  }
  .descriptionProduct {
    color: rgba(175, 173, 181);
    margin-bottom: 80px;
  }
  .priceProduct {
    display: inline-block;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 48px;
  }
  .btnBox {
    display: flex;
    column-gap: 48px;
  }
}
