.main {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: 5rem 12px;
  max-width: 1240px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  column-gap: 3rem;
  margin-bottom: 3rem;
  .wrapperGallery {
    width: 50%;
  }
}
.btnBack {
  align-self: flex-start;
  margin-bottom: 2rem;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: url(/src/assets/Arrow.svg);
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
  }
}
.product {
  .name {
    color: rgba(0, 0, 0);
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1.8rem;
  }
  .description {
    color: rgba(175, 173, 181);
    margin-bottom: 5rem;
  }
  .price {
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .btnBox {
    display: flex;
    column-gap: 3rem;
  }
}

@media (max-width: 759px) {
  .wrapper {
    column-gap: 2.5rem;
  }
  .product {
    .description {
      margin-bottom: 2.5rem;
    }
    .price {
      margin-bottom: 2.5rem;
    }
  }
}

@media (max-width: 550px) {
  .wrapper {
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 3rem;
    .wrapperGallery {
      width: 100%;
      height: 60vh;
    }
  }

  .product {
    text-align: center;
    .description {
      margin-bottom: 2rem;
    }
    .price {
      margin-bottom: 2rem;
    }
    .btnBox {
      justify-content: center;
    }
  }
}
