$width: 1200px;
$gap: 1.5rem;

.text {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  line-height: 36px;
  margin-bottom: 2rem;
  &::after {
    content: attr(data-count);
    display: block;
    position: absolute;
    right: -0.8em;
    top: 0;
    transform: translateX(100%);
    color: rgba(81, 133, 129);

    font-size: 0.65em;
  }
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
  .listItems > * {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
