.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.logoWrapper {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
  padding: 0.625rem 0;
  text-decoration: none;
  color: rgba(0, 0, 0);
  span {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.nav ul {
  list-style: none;
  display: flex;
  column-gap: 3rem;
  height: 100%;
  li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    height: 100%;
    &.active {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10%;
        display: block;
        height: 2px;
        width: 120%;
        background-color: rgba(81, 133, 129);
      }
    }
  }
}
