.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.logoWrapper {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
  padding: 0.625rem 0;
  text-decoration: none;
  color: rgba(0, 0, 0);
  span {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

a.active {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10%;
    display: block;
    height: 2px;
    width: 120%;
    background-color: rgba(81, 133, 129);
  }
}

.navList {
  list-style: none;
  display: flex;
  column-gap: 3rem;
  height: 100%;
  li a {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    height: 100%;
    &:hover:not(.active):after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10%;
      display: block;
      height: 2px;
      width: 120%;
      background-color: rgba(81, 133, 129, 0.5);
    }
  }
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  img {
    max-height: 40px;
  }
  &:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10%;
    display: block;
    height: 2px;
    width: 120%;
    background-color: rgba(81, 133, 129, 0.5);
  }
  &::before {
    content: attr(data-numFavorites);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(123, 172, 168);
    position: absolute;
    bottom: 0;
    left: 0;

    color: #fff;
  }
}
